body {
  font-family: Arial;
  background: #fff4f0;
  text-align: center;
}

h1 {
  background: linear-gradient(90deg, #ff5f4e, #ff8364);
  color: white;
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #ff5f4e;
  color: white;
  border: none;
  cursor: pointer;
}
